{% extends "layouts/dashboardtemplate.html" %}
{% block title %} Antrean {% endblock %}


{% block content %}
<link href="{{url_for ('static',filename='css/member.css')}}" rel="stylesheet"/> 
<div class="row">                
    <div class="col-lg-11 col-md-10">
        <div class="card">
            <div class="content">
              <div class="table-responsive"> 

            <table class="table"> 
                <thead>
                <tr>
                    <td>Lokasi</td>                            
                    <td></td>
                </tr>
                </thead>
                {% if current_user.role == "cashier" %}
                {% for userloc in userlocations %}
                   <tbody>
                        <tr>
                            <td>{{ userloc.location }}</td>                            
                            <td><a href="/dashboard/location/invoice/{{ userloc.id }}" class="btn btn-success">Lihat</a></td>
                            </tr>
                     </tbody>     



                {% endfor %}
                {% else %}              
               
                {% for location in locations  %}

                    <tbody>
                        <tr>
                            <td>{{ location.location }}</td>                            
                            <td><a href="/dashboard/location/invoice/{{ location.id }}" class="btn btn-success">Lihat</a></td>
                            </tr>
                     </tbody>           
                           

                {% endfor %}
                {% endif %}
                




                      </table>
                 </div>     
               </div>  
          </div>            
     </div>       
</div>

{% endblock %}
