{% extends "layouts/dashboardtemplate.html" %}
{% block title %} Kasir {% endblock %}


{% block content %}
<ul id="social_side_links">
  <li><a href="/dashboard/add-cashier"><img class="icon-float" src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/add_blue.png" alt="" /></a></li>
</ul>
<link href="{{url_for ('static',filename='css/member.css')}}" rel="stylesheet"/> 
<div class="row">                
    <div class="col-lg-11 col-md-10">
        <div class="card">
            <div class="content">
              <div class="table-responsive"> 

            <table class="table"> 
                <thead>
                <tr>
                    <td>username</td>
                    <td>email</td>                    
                    <td>lokasi</td>                   
                    <td></td>
                </tr>
                </thead>

                {% for cashier in cashiers  %}
                    <tbody>
                        <tr>
                            <td>{{ cashier.username }}</td>
                            <td>{{ cashier.email }}</td>
                            <td>{{ cashier.location }}</td>                            
                            <td><button type="button" class="btn btn-danger" onclick="myFunction()">Delete</button></td>
                            </tr>
                     </tbody>           
                            <script>
                            function myFunction() {
                                 var x = window.confirm("Are You Sure ?");
                                    if(x){
                                           window.location = '/dashboard/delete-user/{{ cashier.id}}' ;
                                            }
                                     else {
                                           return false;
                                          }
                                    }    
                            </script>



                {% endfor %}





                      </table>
                 </div>     
               </div>  
          </div>            
     </div>       
</div>

{% endblock %}
