{% extends "layouts/dashboardtemplate.html" %}

{% block title %} Dashboard  {% endblock %}

{% block content %}

				<div class="row">
                  
                    <div class="col-md-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-car"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Total Antrean </p>
                                            <p>{{ user }}</p>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-plus"></i> <a href="/dashboard/booking">Booking</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if current_user.role == "member" %}
                    {% else %}
                    <div class="col-md-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Total Member </p> 
                                            <p> {{ member }}</p>                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-plus"></i> <a href="/dashboard/add-member">Tambah Member</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}     
                </div>

                <div class="row">  
{% if current_user.role == "member" %}

    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="content">
              <div class="table-responsive"> 

            <table class="table"> 
                <thead>
                <tr>
                    <td>No</td>                    
                    <td>Mobil</td>
                    <td>Plat</td>
                    <td>Paket</td>
                    <td>Status</td>  
                    <td>Type</td>                  
                   
                </tr>
                </thead>

               
                   
                     {% for antre in antrean %} 
                    <tbody> 
                       {% if antre.status == "Selesai" %}                      
                         <tr class="alert alert-danger" role="alert"> 
                            <td> {{ loop.index }}</td>
                            <td>{{ antre.mobil }}</td> 
                            <td>{{ antre.plat }}</td> 
                            <td>{{ antre.paket }}</td> 
                            <td>{{ antre.status }}</td> 
                            <td>{{ antre.role }}</td>  
                         </tr>   
                        {% else %}  
                          <tr> 
                            <td> {{ loop.index }}</td>
                            <td>{{ antre.mobil }}</td> 
                            <td>{{ antre.plat }}</td> 
                            <td>{{ antre.paket }}</td> 
                            <td>{{ antre.status }}</td> 
                            <td>{{ antre.role }}</td>  
                         </tr>  
                        {% endif %}      
                            
                                    
                           

                           
                        
                         
                        
                         

                     </tbody>  
                      {% endfor %}
                    





                      </table>
                 </div>     
               </div>  
          </div>            
     </div>       
</div>

{% else %}       
<div class="row">                
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="content">
              <div class="table-responsive"> 

            <table class="table"> 
                <thead>
                <tr>
                    <td>No</td>                    
                    <td>Mobil</td>
                    <td>Plat</td>
                    <td>Status</td>
                    <td>Nama</td> 
                    <td>Email</td>
                    <td>Telepon</td>  
                    <td>Type</td>
                    <td>Paket</td>
                    <td></td> 
                         
                   
                </tr>
                </thead>

               
                   
                     {% for antre in antrean %} 
                    <tbody>    
                        {% if antre.status == "Selesai" %}                
                         <tr class="alert alert-danger" role="alert"> 
                            <td> {{ loop.index }}</td>
                            <td>{{ antre.mobil }}</td> 
                            <td>{{ antre.plat }}</td> 
                            <td>{{ antre.status }}</td>
                            <td>{{ antre.name }}</td>
                            <td>{{ antre.email }}</td>
                            <td>{{ antre.phone }}</td>  
                            <td>{{ antre.role }}</td> 
                            <td>{{ antre.paket }}</td>
                            <td><a href="/dashboard/edit-antrean/{{ antre.id }}" class="btn btn-success">Edit</a></td>
                          </tr>
                        {% else %}
                           <tr> 
                            <td> {{ loop.index }}</td>
                            <td>{{ antre.mobil }}</td> 
                            <td>{{ antre.plat }}</td> 
                            <td>{{ antre.status }}</td>
                            <td>{{ antre.name }}</td>
                            <td>{{ antre.email }}</td>
                            <td>{{ antre.phone }}</td> 
                            <td>{{ antre.role }}</td>  
                            <td>{{ antre.paket }}</td>
                            <td><a href="/dashboard/edit-antrean/{{ antre.id }}" class="btn btn-success">Edit</a></td>
                          </tr>
                         {% endif %} 
                               
                            
                                  
                           

                           
                        
                         
                        
                         

                     </tbody>  
                      {% endfor %}
                    





                      </table>
                 </div>     
               </div>  
          </div>            
     </div>       
</div>       
</div> 
{% endif %}
			
              


















{% endblock %}