{% extends "layouts/dashboardtemplate.html" %}

{% block title %} Edit Package {% endblock %}

{% block content %}

<div class="row">                
                  <div class="col-lg-11 col-md-10">
                        <div class="card">
                            <div class="header">                            	
							    <h4 class="title">Edit Paket <h4>
                            </div>
                            <div class="content">

                           	{% from "includes/_formhelpers.html" import render_field %}
                               <form method="POST" enctype="multipart/form-data">
               				   {{ form.hidden_tag() }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.name, class="form-control",placeholder="Paket")}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.price, class="form-control",placeholder="Paket")}}
                                            </div>
                                        </div>
                                       
                                    </div>                                                    
                                                                        
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Simpan</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

			
          </div>


























{% endblock %}