{% extends "layouts/dashboardtemplate.html" %}

{% block title %} Galery  {% endblock %}

{% block content %}
<link href="{{url_for ('static',filename='css/gallery.css')}}" rel="stylesheet"/> 
<ul id="social_side_links">
  <li><a href="/dashboard/add-gallery"><img class="icon-float" src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/add_blue.png" alt="" /></a></li>
</ul>
<div class="row">
<div class="card">
<div class="portfolioContainer">
    {% for gallery in gallerys %}
    <div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator">
        <div class="gal-detail thumb">
            <a href="" class="image-popup" title="Screenshot-1">
                <img src="http://c3carwash.com/static/img/profile/{{ gallery.image_name }}" class="thumb-img" alt="work-thumbnail">
            </a>            
                    
            <div class="ga-border"></div>
            <p class="text-muted text-center"><small>{{ gallery.description | safe }}</small></p>    
            <a href="/dashboard/delete-gallery/{{ gallery.id}}" class="red">
            <i class="ace-icon fa fa-times bigger-125"></i>
            </a>
           
        </div>
    </div>
    
    {% endfor %}

</div>    
</div>
</div>

 

{% endblock %}