{% extends "layouts/layout.html" %}

{% block title %} Login User {% endblock %}


{% block content %}
<link href="{{url_for ('static',filename='css/login.css')}}" rel="stylesheet"/>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Masuk Untuk Memakai Aplikasi</h1>
            <div class="account-wall">
               
                {% from "includes/_formhelpers.html" import render_field %}
                <form class="form-signin" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                     {{ render_field(form.email, class="form-control")}}
                </div>
                <div class="form-group">
                     {{ render_field(form.password, class="form-control")}}
                </div>
                
                <button class="btn btn-lg btn-success btn-block" type="submit">Masuk</button>

                <a href="/forgot-password" class="pull-left need-help">Lupa Password </a><span class="clearfix"></span>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}






















